
/assignment2_supplementary_material/assignment2_backend/node_modules
/assignment2_supplementary_material/assignment2_backend/package-lock.json
/assignment2_supplementary_material/assignment2_starter_pack/package-lock.json
/assignment2_supplementary_material/assignment2_starter_pack/node_modules